.login {
  width: 450px;
  margin: 16px auto;
  font-family: "Helvetica Neue";
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.flashes {
    width: 100%;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-animation: slide-in 0.75s 0s forwards;
    -moz-animation: slide-in 0.75s 0s forwards;
    -ms-animation: slide-in 0.75s 0s forwards;
    -o-animation: slide-in 0.75s 0s forwards;
    animation: slide-in 0.75s 0s forwards;
    -webkit-font-smoothing: antialiased;
    
    background: #ffe6e6;
    color: #c86e6e;
    border-top: 1px solid #f5c8c8;
}

.active a
{
  color: black !important;
}

.flashes li.error {
    background-color: #e74c3c;
}

.flashes li p {
    margin: 0;
    font-size: 1.2em;
    padding: 1% 5%;
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
}

.login-header {
  padding: 20px;
  font-size: 4.2em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.login-container {
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border:none;
  padding: 12px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.forgot a
{
  color:white;
  font-size:16px;
}

.forgot a:hover
{
  text-decoration: underline !important;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: black;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}